@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');


:root {
    --primary-color: #DD9C3C;
    --primary-color-bold: #BF7506;
    --primary-color-light: #F4DEBE;

    --secondary-color: #83807C;
    --secondary-color-bold: #211B12;
    --secondary-color-light: #E7E6E4;
    --font-family: 'Inter', 'JetBrains Mono', monospace;
}

.heading {
    font-weight: bold;
    font-size: clamp(2.8rem, -5.125rem + 10vw, 7rem);
    line-height: 125%;
    letter-spacing: -0.03em;
}

.heading1 {
    font-weight: bold;
    font-size: clamp(2.5rem, -0.875rem + 3vw, 8rem);
    line-height: 125%;
    letter-spacing: -0.03em;
}

.heading2 {
    font-weight: bold;
    font-size:clamp(2rem, -0.875rem + 5vw, 5rem);
    line-height: 125%;
    letter-spacing: -0.03em;
}

.heading3 {
    font-weight: bold;
    font-size: clamp(1rem, -0.875rem + 3vw, 2rem);
    line-height: 135%;
    letter-spacing: -0.02em;
}

.text-normal {
    font-style: normal;
    font-weight: 400;
    font-size: clamp(1rem, 0.5rem + 2vw, 2rem);
    line-height: 2em;
    /* text-align: justify; */
}

.text-small {
    font-style: normal;
    font-weight: normal;
    font-size: clamp(0.5rem, 4rem + 10vw, 1rem);
    line-height: 150%;
}

.button-style {
    border-bottom: 0.5rem var(--primary-color) solid;
    background: linear-gradient(#ffffff, #ffffff 50%, var(--primary-color) 50%, var(--primary-color));
    background-size: 100% 330%;
    transition: background 1s;
}

.button-style:hover {
    cursor: pointer;
    background-position: 10% 100%;
}
.alert{
    display: none;
}