/* Nav */
@import url(base.css);

* {
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    overflow-x: hidden;
    margin: auto;
}

header {
    position: relative;
    width: 318px;
    height: 24px;
    left: 65%;
    top: 40px;
}

.nav ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

.nav li {
    list-style: none;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav li a {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-decoration: none;
    color: var(--primary-color);
}

main {
    position: relative;
    top: 80px;
    width: 70%;
    margin: auto;
}

/* Presentation section */

.presentation {
    color: var(--secondary-color-bold);
    border: 2px solid var(--primary-color);
    border-bottom: 0;
    border-top: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: auto;
}

.presentation .name {
    position: relative;
    left: 385px;
    letter-spacing: -0.03em;
}

.presentation .description {
    position: relative;
    width: 600px;
    left: 385px;
    letter-spacing: -0.02em;
}

.presentation .description .status {
    color: var(--primary-color-bold);
}

.presentation .other {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    padding: 0px;

    position: relative;
    width: 500px;
    height: 50px;
    left: 385px;
    top: 10px;
}

.presentation .social {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 24px;
    height: inherit;
}

.presentation .social svg {
    width: 24px;
    height: 24px;
}

.presentation .social a {
    display: block;
    margin: 0;
}

.presentation .social .github {
    fill: #3E75C3;
}

.presentation .social .linkedin {
    fill: #007EBB;
}

.presentation .social .chess {
    fill: #10d19a;
}

.presentation .resume {
    display: flex;
    width: 180px;
    height: inherit;
    padding-left: 10px;
}

.presentation .resume span {
    margin: auto;
}


.presentation .resume svg {
    width: 24px;
    height: inherit;
    margin-right: 10px;
}

.presentation .resume button {
    border: none;
    background: none;
    margin-left: 10px;
}

.presentation .resume button:hover {
    cursor: pointer;
}

.chess-king {
    height: 40px;
}

.chess-king img {
    position: relative;
    width: 267.69px;
    left: 50px;
    top: -250px;
    height: 300px;
    border-radius: 140.39px;
    transform: rotate(30deg) skew(2deg);
    transition: transform 1s;
}

.chess-king img:hover{
    transform: rotate(-30deg);
    cursor: pointer;

}

/* Projects list */
.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 12%;
	margin-top: 3%;
}

.projects>.heading1 {
    color: var(--primary-color-bold);
    position: absolute;
    width: auto;
    height: 60px;
    left: 205px;
    top: auto;
    letter-spacing: -0.03em;
}

.projects .card {
    position: relative;
    width: 399px;
    height: 527px;
    top: 130px;
    margin-bottom: 30px;
}

.projects .card img {
    position: relative;
    width: 399px;
    height: 299px;
    left: 0px;
    top: 0px;
    box-shadow: 0 4px 8px 0 var(--secondary-color);
    transition: 0.5s;
    border-radius: 4px;
    margin-bottom: 10px;
}

.projects .card img:hover {
    box-shadow: 0 16px 32px 0 var(--secondary-color);
    cursor: pointer;
}

.projects .card .heading3 {
    position: relative;
    width: 273px;
    height: 32px;
    left: 40px;
    color: var(--primary-color-bold);
}

.languages {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    gap: 4px;
    flex-wrap: wrap;

    position: relative;
    width: auto;
    left: 16px;
    top: 10px;

}

.languages span {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 8px 4px;
    height: 27px;

    /* Brand/500 */
    border: 1px solid #DD9C3C;
    border-radius: 4px;
}
.card a{
    text-decoration: none;
}
.card .code {
    display: flex;
    padding: 7px 8px 5px;
    width: 86px;
   
}

.card .code .icon {
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 24px;
    height: inherit;
    margin-right: 5px;
}

.card .code span {
    display: contents;
    height: 24px;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    margin: auto;
    color: var(--secondary-color-bold);
}

/* Footer */

.footer {
	position: absolute;
	width: 100%;
	color: var(--secondary-color);
	text-align: center;
	margin-top: 80px;
}