@import url(base.css);
@import url(presentation.css);
@import url(projects.css);
@import url(contact.css);

* {
    box-sizing: border-box;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}
html{
    overflow-x: hidden;
}
body {
    overflow: hidden;
}

/* Navbar */
header {
    position: relative;
    width: max-content;
    max-height: 100%;
    top: 4rem;
    margin: auto;
}

.nav ul {
    display: flex;
    gap: 5rem;
}

.nav li {
    list-style: none;
}

.nav li a {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-decoration: none;
    color: var(--primary-color);
}


/* Main body */
main {
    position: relative;
    top: 2rem;
    min-width: 100%;
    margin: auto;
}

@media (max-width:600px) {
    main{
        width: 96%;
    }
}



/* Footer */

.footer {
    display: flex;
    position: absolute;
    width: 100%;
    color: var(--secondary-color);
    text-align: center;
    padding: 5rem 0;
    margin: auto;
    justify-content: space-between;
    flex-direction: column;
}

.footer> span{
    margin: auto;
    margin-top: 3rem;
    width: 50%;
}
.footer a{
    text-decoration: none;
}

@media (min-width:490px) {
    .footer .social svg{
        width: 2.5rem;
        height: 2.5rem;
    }
}